#Image1 {
    width: 200px;
    height: 200px;
    margin-bottom: 5%;
}

.containertable {
    width: fit-content;
    padding: 2rem;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 3px 1px 1px #aaa;
    height: 90vh;
}

.tb {
    margin-bottom: 0.75rem;
    border: 1px solid;
}

.fileupload {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    height: 32px;
}

.btnadd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mydropdownlist {
    background-color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid;
    font-weight: bold;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 480px) {

    table tr {
        height: 144px;
    }
}
